.vscode
allennlp
*.pyc
.cache/
.ipynb_checkpoints
experiments_models
moses-scripts

# no temporary data files
tests/fixtures/pilot
data_kaggle/dev_X.txt
data_kaggle/dev_y.txt
data_kaggle/tc-tok-dev.txt
data_kaggle/tc-tok-dev_X.txt
data_kaggle/tc-tok-train_X.txt
data_kaggle/test.zip
data_kaggle/test_public_X.txt
data_kaggle/tok-dev_X.txt
data_kaggle/tok-test_public_X.txt
data_kaggle/tok-train_X.txt
data_kaggle/train.zip
data_kaggle/train_X.txt
data_kaggle/train_y.txt
data_kaggle/glove/glove.6B.100d.txt.gz
data_kaggle/tc-tok-test_public_X*
data_kaggle/submission*